<footer class="bg-black pt-8">
    <p class="txt_color">
        <br> <font SIZE="5" color="blue">CARLOS ALBERTO SEBASTIAN</font>
        <br> <font SIZE="5" color="blue">TECNOLOGIAS DE LA INFORMACION Y COMUNICACION 9 "A"</font>
        <br> <font SIZE="5" color="blue">DESARROLLO DE APLICASIONES WEB</font>
        <br> <font SIZE="5" color="blue">MAESTRO  IVAN GARCIA QUINTERO</font>
        <br> <font SIZE="5" color="blue">Universidad Tecnológica de Xicotepec de Juárez</font>
    </p>
    
</footer>
